* {
  margin: 0;
  padding: 0;
  border: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

:root {
  --color-primary: #DF5047;
  --color-primary-light: #FCE8E6;
  --color-white: #fff;
  --color-light-grey-1: #f5f5f5;
  --color-light-grey-2: #faf9f9;
  --color-light-grey-3: #f0eeee;
  --color-dark-grey-1: #333;
  --color-dark-grey-2: #555;
  --color-dark-grey-3: #777;
  --color-dark-grey-4: #999; }
