* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}