.header {
    height: 6rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-light-grey-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    position: absolute;

    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - #{10.979rem});
    transition: transform .5s;
    &--active{
        transform: translateX(-100%);

        &>*{
            transform: translateX(-100%);
        }
    }
}

.interface {
    background-color: #fff;
    flex: 1;
    // height: 70rem;
}